*{
    margin: 0;
    padding: 0;
}

:root{
    --branco-principal: white;
    --cinza-secundário: #C0C0C0;
    --cinza-claro:#F9F9F9;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;

}

body{
    background-color: var(--cor-de-fundo);
}

section{
    width: 1440px;
    height: 680px;
    left: 0px;
    top: 0px;


}
.principal{
    color:var(--branco-principal);
    background-image: url(imagens/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
    
}    

.principal--conteudo{
    position: absolute;
    width: 588px;
    height: 431px;
    left: 54px;
    top: 125px;
}

.principal--titulo{
    width: 588px;
    height: 102px;
    left: 54px;
    top: 125px;
        

    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    text-align: center;

}

.principal--lb{
    width: 512px;
    height: 307px;
    left: 92px;
    top: 249px;

    margin: auto;
    text-align: center;
}

.botao{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    margin-top: 35px;

}

.botao--azul{
    width: 512px;
    height: 56px;
    
    border: 0;
    background: var(--botao-azul);
    border-radius: 8px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--branco-principal);

   
}

.botao--branco{
    width: 512px;
    height: 56px;
    
    border: 1px solid var(--branco-principal );
    border-radius: 8px;
    background-color:   rgba(255, 255, 255, 0);
    color: var(--branco-principal);

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;


    
}

.princial--obs{

    width: 380px;
    height: 15px;
    left: 161px;
    top: 541px;

    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    align-items: center;
    text-align: center;
    color: #C0C0C0;

    margin: auto;
    
}

.plataformas{
    display: flex;
    color:white;
}

.plataformas--imagem{
    position: absolute;
    width: 498px;
    height: 560px;
    left: 165px;
    top: 775px;
}

.plataformas--conteudo{
    position: absolute;
    width: 588px;
    height: 114px;
    left: 732px;
    top: 998px;

}

.plataformas--conteudo>h1{
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
}

.plataformas--conteudo>p{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    opacity: 0.8;
    color: var(--cinza-claro);
}

.telas{
    display: flex;
}

.telas--conteudo{
    color: var(--cinza-claro);
    position: absolute;
    width: 588px;
    height: 144px;
    left: 120px;
    top: 1584px;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    opacity: 0.8;
}

.telas--button{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px;
    gap: 16px;

   
    width: 162.68px;
    height: 56px;
    left: 120px;
    top: 1672px;

    background: var(--botao-azul);
    border-radius: 8px;

    color: white;
    text-align: center;
    align-items: center;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;

    margin-top: 20px;

    

}

.telas--imagem{
    position: absolute;
    width: 496px;
    height: 338.96px;
    left: 778px;
    top: 1486px;
}

.notebook{
    display: flex;
}

.notebook--imagem{
    position: absolute;
    width: 547px;
    height: 324px;
    left: 141px;
    top: 2051px;
}

.notebook--conteudo{
    position: absolute;
    width: 588px;
    height: 114px;
    left: 732px;
    top: 2156px;
    
}

.notebook--conteudo>h1{
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
    color: var(--branco-principal);
}

.notebook--conteudo>p{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--cinza-claro);
    opacity: 0.8;
}

.dispositivos{
    position: absolute;
    width: 1154px;
    height: 344px;
    left: 155px;
    top: 2639px;

}

.dispositivos>h1{
    
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
    /* identical to box height, or 58px */

    text-align: center;

    color: #FFFFFF;
}

.dispositivos--contanier{
    display: flex;
    justify-content: space-around;
}

.dispositivos--tv{
   
    width: 339px;
    height: 192px;
    left: 155px;
    top: 2737px;
}


.dispositivos--tv-span{
   
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;

    text-align: center;
    color: var(--branco-principal);
}

.dispositivos--pc{
    
    width: 339px;
    height: 192px;
    left: 563px;
    top: 2737px;
   
}

.dispositivos--pc-span{
    
    color: var(--branco-principal);
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;

    text-align: center;

}

.dispositivos--cel{
    
    width: 339px;
    height: 192px;
    left: 970px;
    top: 2737px;
    
}

.dispositivos--cel-span{
    

    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;

    text-align: center;
    color: var(--branco-principal);
}


.dispositivos--legendas{
    display: flex;
    justify-content: space-evenly;
}